.slider-img {
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.card-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0px;
    padding: 0px;
}

.card {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0px;
    padding: 0px;
}

.card-image {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0px;
    padding: 0px;
}

.details {
    display: flex;
    justify-content: center;
    align-content: center;
}