.slider-img {
    max-width: 600px;
    max-height: 600px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.card-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0px;
    padding: 0px;
}

.card {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0px;
    padding: 0px;
}

.card-image {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0px;
    padding: 0px;
}

.details {
    display: flex;
    justify-content: center;
    align-content: center;
}